.flashcard-sets-container {
  max-width: 920px;
  width: 100%;
  margin: 55px;
  padding: 30px;
  color: #333333;
  border-radius: 30px;
  background-color: #fbfbfb;
  box-shadow: 0 8px 16px rgba(5, 10, 39, 0.492);
}

.flashcard-sets-container h2 {
  text-align: center;
  margin-bottom: 40px;
}

.add-set {
  margin-bottom: 20px;
}

.add-set input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.add-set button {
  width: 100%;
  padding: 10px;
  background-color: #253677;
  border: none;
  border-radius: 4px;
  color: #fbfbfb;
  font-size: 1rem;
  cursor: pointer;
}

.set-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.set-item {
  width: 200px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
  word-wrap: break-word;
  overflow: hidden;
}

.set-name {
  font-size: 0.9rem;
  word-wrap: break-word;  
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.flashcard-look {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f6f7ff;
  box-shadow: 0 2px 4px rgba(5, 10, 39, 0.492);
  border-radius: 8px;
}

.flashcard-look:hover {
  box-shadow: 0 8px 16px rgba(5, 10, 39, 0.492);
}