.home-container {
  text-align: center;
  max-width: 600px;
  width: 100%;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 0 8px 16px rgba(5, 10, 39, 0.492);
  background-color: #fbfbfb;
}

.home-container h1 {
  font-size: 2.5rem;
  margin-bottom: 0px;
  color: #333333;
}

.home-container h2 {
  font-size: 3.8rem;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #253677;
}

.home-container p {
  font-size: 1.15rem;
  margin-bottom: 20px;
  color: #555;
}